/*---------------------FONTS----------------------*/

@font-face {
    font-family: 'Open_Sans_Light';
    src: url("../fonts/OpenSans-light.ttf") format("truetype");
}

@font-face {
    font-family: 'Open_Sans_Regular';
    src: url("../fonts/OpenSans-Regular.ttf") format("truetype");
}

@font-face {
    font-family: 'Open_Sans_Italic';
    src: url("../fonts/OpenSans-Italic.ttf") format("truetype");
}

@font-face {
    font-family: 'Open_Semi_Bold';
    src: url("../fonts/OpenSans-Semibold.ttf") format("truetype");
}

@font-face {
    font-family: 'Open_Sans_Bold';
    src: url("../fonts/OpenSans-Bold.ttf") format("truetype");
}


/*--------------------VARIABLES-------------------*/

$font_light: 'Open_Sans_Light',
Arial,
Helvetica,
sans-serif;
$font_regular: 'Open_Sans_Regular',
Arial,
Helvetica,
sans-serif;
$font_italic: 'Open_Sans_Italic',
Arial,
Helvetica,
sans-serif;
$font_semi_bold: 'Open_Semi_Bold',
Arial,
Helvetica,
sans-serif;
$font_bold: 'Open_Sans_Bold',
Arial,
Helvetica,
sans-serif;
$bleu-logo: #17244c;
$bleu-fonce: #0F1833;
$jaune-logo: #ffd905;
$rouge-un: #cc0000;
$rouge-deux: #ff3333;
$orange-un: #ff6600;
$vert-un: #006600;
$vert-deux: #339933;
$vert-trois: #003300;

/*--------------------GENERIQUES-------------------*/

// Fonts Size
$font-size: 14px;
$font-size-h1: 7.429rem; // 104px
$font-size-h2: 2.857rem; // 22px
$font-size-h3: 1.750rem; // 20px
$font-size-btn: 1.571rem; // 22px
$font-size-menu: 1.571rem; // 22px
h1 {
    font-family: $font_bold;
    font-size: $font-size-h1;
    text-align: center;
    margin-bottom: 50px;
    @media (min-width: 601px) {
        font-size: 50px;
    }
}

h2 {
    font-family: $font_bold;
    font-size: $font-size-h2;
    margin-top: initial;
    color: $bleu-logo;
}

h3 {
    font-family: $font_semi_bold;
    font-size: $font-size-h3;
    margin-top: initial;
    color: $bleu-logo;
}

p {
    font-family: $font_light;
    font-size: 16px;
}

a {
    text-decoration: none;
    font-family: $font_bold;
}

a:hover {
    text-decoration: none;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}


/*---------------------------BUTON-----------------------*/

a {
    text-decoration: none;
}

[class*=btn-] {
    border-radius: 50px;
    padding: 10px 20px;
    text-shadow: initial;
    color: #333;
    display: inline-block;
    border: initial;
}

.btn-blue {
    border: solid 2px #fff;
    color: white !important;
    background-color: $bleu-logo;
}

.btn-blue:hover {
    background-color: $bleu-fonce;
}

.btn-rouge {
    background-color: $rouge-deux;
}

.btn-rouge:hover {
    background-color: $rouge-un;
}

.btn-yellow {
    background-color: $jaune-logo;
}

.btn-yellow:hover {
    background-color: #ffed00;
}


/*----------------------HEADER--------------------*/

#header {
    background-color: $bleu-logo;
    position: fixed;
    width: 100%;
    z-index: 1500;
    box-shadow: 0px 5px 10px 0px rgba(36, 36, 36, 0.3);
    .header-content {
        padding-top: 15px;
        padding-bottom: 15px;
        .header-nav {
            float: left;
            .header-logo {
                margin-right: 20px;
                float: left;
                img {
                    height: 40px;
                }
            }
            .header-navigation {
                display: inline-block;
                float: left;
                padding: initial;
                padding-top: 10px;
                ul {
                    list-style: none;
                    li {
                        display: inline-block;
                        margin-right: 40px;
                        a {
                            color: #fff;
                        }
                        a:hover {
                            color: $jaune-logo;
                        }
                    }
                }
            }
        }
        .header-bouton {
            float: right;
            .btn-yellow {
                margin-right: 20px;
            }
        }
    }
}


/*-----------------------BlOCS GENERIQUE--------------------*/

[class*=wrapper-] {
    padding-top: 50px;
    padding-bottom: 50px;
    h2 {
        text-align: center;
        margin-bottom: 30px;
    }
}

// ----------------PRECOMMANDE------------
.wrapper-precommande {
    background-image: url(../img/preco.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    p {
        margin-bottom: 50px;
    }
}

.wrapper-product {
    img {
        width: 100%;
    }
}


/*--------------------------PAGE PART-----------------------*/

// ----------------SLIDER------------
.wrapper-slider {
    padding: 0 0 !important;
    position: relative;
    .slider-annonce {
        position: absolute;
        left: 25%;
        top: 35%;
        text-align: center;
        width: 50%;
        z-index: 500;
        color: $jaune-logo;
        h2 {
            color: #fff;
        }
    }
    #slider-items {
        .item {
            background: #fff center center / cover;
            width: 100%;
            //            padding-bottom: 56.25%;
            height: 800px;
        }
        .owl-nav {
            display: inline-block;
            position: absolute;
            top: 45%;
            z-index: 800;
            color: #fff;
            .owl-prev {
                float: left;
                margin: 0 20px;
                background: url(../data/prev.png);
                font-size: 0;
                width: 48px;
                height: 94px;
            }
            .owl-next {
                margin: 0 20px;
                background: url(../data/next.png);
                font-size: 0;
                width: 48px;
                height: 94px;
            }
        }
    }
}

// ----------------CLASSEMENT------------
.wrapper-table {
    background-color: $bleu-logo;
    color: #fff;
    .top {
        padding-top: 40px;
        .top-trophee,
        .top-name {
            display: inline-block;
        }
        h2 {
            padding-top: 10px;
            text-align: left !important;
            margin-bottom: 0px !important;
        }
    }
    .table-striped {
        th {
            text-align: center;
        }
        tbody tr {
            background-color: $bleu-logo;
            td {
                border: initial;
                vertical-align: middle;
                height: 50px;
                text-align: center;
            }
        }
        tbody tr:nth-of-type(2n+1) {
            background-color: $bleu-fonce;
        }
    }
}


/*--------------------------PAGE PRO-----------------------*/

// ----------------SLIDER------------
.wrapper-pro {
    background-image: url(../img/bar.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    .pro-annonce {
        padding-top: 240px !important;
        padding-bottom: 250px !important;
    }
    h1 {
        color: $jaune-logo;
    }
    .picto {
        text-align: center;
    }
}

// ----------------PICTOS--------------
.wrapper-pictos {
    background-color: #f3f3f3;
    .picto {
        text-align: center;
        [class*=picto-] {
            margin: 0 45px;
            display: inline-block;
            img {
                margin-bottom: 30px;
            }
        }
    }
}

// ----------------4 ETAPES--------------
[class*=wrapper-section] {
    .intro-divider {
        margin-top: 0px;
        margin-bottom: 20px;
    }
    hr {
        border-top: 1px solid $bleu-fonce;
    }
    //    color: #fff;
    h3 {
        color: $vert-deux !important;
    }
    p {
        font-family: $font_semi_bold;
    }
    img {}
}

.wrapper-section-a {
    background-color: #f4f4f4;
}

.wrapper-section-b {
    background-color: #fff;
}

// ----------------BARS--------------
.wrapper-bar {
    background-color: #efefef;
}

#gmap_canvas img {
    max-width: none !important;
    background: none !important;
}


/*----------------------FOOTER----------------------*/

.footer {
    background-color: #373737;
    border-top: 4px solid #ffd905;
    color: #fff;
    .footer-content {
        padding-top: 40px;
        padding-bottom: 40px;
        .footer-links {
            a {
                color: #fff;
            }
            a:hover {
                color: $jaune-logo;
            }
        }
        .footer-reseaux {
            color: #fff !important;
            margin-bottom: 60px;
            .follow {
                float: right;
            }
            img {
                width: 15px;
                margin-right: 15px;
            }
        }
        .okeys {
            color: #a5a5a5 !important;
            text-align: center;
        }
    }
}

#myModal {
    z-index: 8000;
    .modal-dialog {
        width: 50%;
        .modal-footer {
            button {
                color: #fff;
            }
        }
    }
}


/*---------------------------FORMULAIRE-----------------*/

form {
    input[type=text],
    select {
        width: 250px;
        border-radius: 50px;
        padding: 10px 20px;
        margin-right: 30px;
        background: #FFF;
        display: inline-block;
        border: 2px solid #fff;
        box-sizing: border-box;
        color: #888;
    }
    input[type=text] {
        font-family: $font_semi_bold;
    }
    input[type=submit] {
        font-family: $font_bold;
    }
    input[type=submit]:hover {
        background-color: #ffed00;
        font-family: $font_bold;
    }
    input[type=text]:hover {
        background-color: $vert-deux;
        color: #fff;
    }
    input[type=text]:focus {
        background-color: $vert-deux;
        color: #fff;
    }
}


/*----------------------MEDIA QUERIES--------------------*/

@media (max-width: 991px) {
    nav {
        ul {
            display: none;
            visibility: hidden;
        }
    }
    .footer-links,
    .footer-reseaux {
        text-align: center;
    }
}

@media (max-width: 767px) {
    form {
        input[type=text] {
            width: 70%;
            margin-bottom: 30px;
            margin-right: 0px;
        }
        input[type=submit] {
            width: 50%;
        }
    }
    [class*=wrapper-section] {
        .intro-divider {
            display: none;
        }
        text-align: center;
        img {
            margin: auto;
        }
    }
    footer {
        .footer-links {
            margin-bottom: 20px;
        }
        .footer-reseaux {
            .follow {
                float: none !important;
            }
        }
    }
}

@media (min-width: 601px) {
    font-size: 50px;
}